@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}

button,
input {
  outline: none;
}

a {
  text-decoration: none;
}

/* @font-face {
  font-family: Averta;
  src: url('/public/assets/fonts/Averta-Bold.otf');
} */

* {
  font-family: "Poppins", sans-serif;
}
